In [1]:
import wrds
import pandas as pd

In [ ]:
crsp_db = wrds.Connection(wrds_username='argool')

In [3]:
#crsp_db.create_pgpass_file()

In [4]:
crsp_db.get_table(library='crsp',table='stocknames',obs=10)

,permno,permco,namedt,nameenddt,cusip,ncusip,ticker,comnam,hexcd,exchcd,siccd,shrcd,shrcls,st_date,end_date,namedum
0,10000.0,7952.0,1986-01-07,1987-06-11,68391610,68391610,OMFGA,OPTIMUM MANUFACTURING INC,3.0,3.0,3990.0,10.0,A,1986-01-31,1987-06-30,2.0
1,10001.0,7953.0,1986-01-09,1993-11-21,36720410,39040610,GFGC,GREAT FALLS GAS CO,2.0,3.0,4920.0,11.0,None,1986-01-31,2017-08-31,2.0
2,10001.0,7953.0,1993-11-22,2008-02-04,36720410,29274A10,EWST,ENERGY WEST INC,2.0,3.0,4920.0,11.0,None,1986-01-31,2017-08-31,2.0
3,10001.0,7953.0,2008-02-05,2009-08-03,36720410,29274A20,EWST,ENERGY WEST INC,2.0,3.0,4920.0,11.0,None,1986-01-31,2017-08-31,2.0
4,10001.0,7953.0,2009-08-04,2009-12-17,36720410,29269V10,EGAS,ENERGY INC,2.0,3.0,4920.0,11.0,None,1986-01-31,2017-08-31,2.0
5,10001.0,7953.0,2009-12-18,2010-07-08,36720410,29269V10,EGAS,ENERGY INC,2.0,2.0,4925.0,11.0,None,1986-01-31,2017-08-31,2.0
6,10001.0,7953.0,2010-07-09,2017-08-03,36720410,36720410,EGAS,GAS NATURAL INC,2.0,2.0,4925.0,11.0,None,1986-01-31,2017-08-31,2.0
7,10002.0,7954.0,1986-01-10,1993-09-29,05978R10,60740110,MBNC,MOBILE NATIONAL CORP,3.0,3.0,6710.0,10.0,None,1986-01-31,2013-02-28,2.0
8,10002.0,7954.0,1993-09-30,2002-05-14,05978R10,83623410,SABC,SOUTH ALABAMA BANCORPORATION IN,3.0,3.0,6710.0,11.0,None,1986-01-31,2013-02-28,2.0
9,10002.0,7954.0,2002-05-15,2013-02-15,05978R10,05978R10,BTFG,BANCTRUST FINANCIAL GROUP INC,3.0,3.0,6020.0,11.0,None,1986-01-31,2013-02-28,2.0

In [5]:
crsp_db.get_table(library='crspm',table='dsf',obs=10)

,cusip,permno,permco,issuno,hexcd,hsiccd,date,bidlo,askhi,prc,vol,ret,bid,ask,shrout,cfacpr,cfacshr,openprc,numtrd,retx
0,23282430,10383.0,8300.0,10910.0,3.0,2830.0,1987-01-19,8.75,9.00,8.75,14950.0,-0.027778,8.75,9.00,11899.0,0.1,0.1,None,39.0,-0.027778
1,23282430,10383.0,8300.0,10910.0,3.0,2830.0,1987-01-20,8.75,9.25,9.00,66203.0,0.028571,9.00,9.25,11899.0,0.1,0.1,None,48.0,0.028571
2,23282430,10383.0,8300.0,10910.0,3.0,2830.0,1987-01-21,9.00,9.50,9.25,36150.0,0.027778,9.25,9.50,11899.0,0.1,0.1,None,44.0,0.027778
3,23282430,10383.0,8300.0,10910.0,3.0,2830.0,1987-01-22,9.00,9.50,9.25,28430.0,0.000000,9.25,9.50,11899.0,0.1,0.1,None,43.0,0.000000
4,23282430,10383.0,8300.0,10910.0,3.0,2830.0,1987-01-23,9.00,9.50,9.25,72900.0,0.000000,9.00,9.25,11899.0,0.1,0.1,None,53.0,0.000000
5,23282430,10383.0,8300.0,10910.0,3.0,2830.0,1987-01-26,8.50,9.25,9.00,22156.0,-0.027027,8.50,9.00,11899.0,0.1,0.1,None,33.0,-0.027027
6,23282430,10383.0,8300.0,10910.0,3.0,2830.0,1987-01-27,8.50,9.25,9.25,29805.0,0.027778,8.75,9.25,11899.0,0.1,0.1,None,32.0,0.027778
7,23282430,10383.0,8300.0,10910.0,3.0,2830.0,1987-01-28,9.00,9.75,9.75,110250.0,0.054054,9.50,9.75,11899.0,0.1,0.1,None,67.0,0.054054
8,23282430,10383.0,8300.0,10910.0,3.0,2830.0,1987-01-29,9.25,9.75,9.25,23950.0,-0.051282,9.00,9.50,11899.0,0.1,0.1,None,37.0,-0.051282
9,23282430,10383.0,8300.0,10910.0,3.0,2830.0,1987-01-30,9.00,9.50,9.50,13204.0,0.027027,9.25,9.50,11899.0,0.1,0.1,None,22.0,0.027027

In [4]:
ticker_list = {'tickers': ('GLD', 'SPY', 'JNK', 'QQQ', 'EWU','EEM','XLF','XAR','TLT','XLU','IWM','HYG','FXI','EWG','LQD','XTN')}

In [7]:
crsp_db.raw_sql('SELECT distinct permco, permno, ticker FROM crsp.stocknames WHERE ticker in %(tickers)s order by 2 asc', params=ticker_list)

     permco   permno ticker
0   39147.0  12717.0    XTN
1   39147.0  12999.0    XAR
2   37493.0  14907.0    EWU
3   23150.0  22568.0    GLD
4   23407.0  26411.0    GLD
5    2751.0  33910.0    SPY
6    4215.0  60716.0    SPY
7   30433.0  80694.0    GLD
8   31600.0  83213.0    EWG
9   31600.0  83216.0    EWU
10  46699.0  84398.0    SPY
11  34957.0  86455.0    XLF
12  34957.0  86458.0    XLU
13  35013.0  86755.0    QQQ
14  37493.0  88222.0    IWM
15  37493.0  89467.0    LQD
16  37493.0  89468.0    TLT
17  37493.0  89730.0    EEM
18  37493.0  90383.0    FXI
19  45874.0  90448.0    GLD
20  37493.0  91933.0    HYG
21  44072.0  91953.0    QQQ
22  39147.0  92922.0    JNK

In [6]:
crsp_db.raw_sql('SELECT permco, permno, ticker, comnam FROM crsp.stocknames WHERE ticker in %(tickers)s group by permco, permno, ticker, comnam order by 3 asc', params=ticker_list)

     permco   permno ticker                      comnam
0   37493.0  89730.0    EEM               ISHARES TRUST
1   31600.0  83213.0    EWG            FOREIGN FUND INC
2   31600.0  83213.0    EWG                 ISHARES INC
3   31600.0  83213.0    EWG         WEBS INDEX FUND INC
4   31600.0  83216.0    EWU            FOREIGN FUND INC
5   31600.0  83216.0    EWU                 ISHARES INC
6   31600.0  83216.0    EWU         WEBS INDEX FUND INC
7   37493.0  14907.0    EWU               ISHARES TRUST
8   37493.0  90383.0    FXI               ISHARES TRUST
9   23150.0  22568.0    GLD                   GOULD INC
10  23407.0  26411.0    GLD       GLADDING MC BEAN & CO
11  30433.0  80694.0    GLD  SANTA FE PACIFIC GOLD CORP
12  45874.0  90448.0    GLD             SPDR GOLD TRUST
13  45874.0  90448.0    GLD     STREETTRACKS GOLD TRUST
14  37493.0  91933.0    HYG               ISHARES TRUST
15  37493.0  88222.0    IWM               ISHARES TRUST
16  39147.0  92922.0    JNK           SPDR SERIES TRUST
17  37493.0  89467.0    LQD               ISHARES TRUST
18  35013.0  86755.0    QQQ   NASDAQ 100 TRUST SERIES I
19  44072.0  91953.0    QQQ           INVESCO QQQ TRUST
20  44072.0  91953.0    QQQ       POWERSHARES QQQ TRUST
21   2751.0  33910.0    SPY  SPEEDRY CHEMICAL PRODS INC
22   4215.0  60716.0    SPY         SPECTRA PHYSICS INC
23  46699.0  84398.0    SPY  SPDR S & P 500 E T F TRUST
24  46699.0  84398.0    SPY                  SPDR TRUST
25  37493.0  89468.0    TLT               ISHARES TRUST
26  39147.0  12999.0    XAR           SPDR SERIES TRUST
27  34957.0  86455.0    XLF    SELECT SECTOR SPDR TRUST
28  34957.0  86458.0    XLU    SELECT SECTOR SPDR TRUST
29  39147.0  12717.0    XTN           SPDR SERIES TRUST

In [8]:
permco_list_df = crsp_db.raw_sql('select distinct permco FROM crsp.stocknames WHERE ticker in %(tickers)s', params=ticker_list)

In [9]:
permco_list_df

     permco
0    2751.0
1    4215.0
2   23150.0
3   23407.0
4   30433.0
5   31600.0
6   34957.0
7   35013.0
8   37493.0
9   39147.0
10  44072.0
11  45874.0
12  46699.0

In [10]:
permco_list_string = permco_list_df.permco.astype(str).values.tolist()

In [11]:
# permco_list_string = ','.join("'{0}'".format(x) for x in permco_list_string)

In [12]:
permco_tuple = tuple(permco_list_string)

In [13]:
# permco_result =''
# for i in permco_list_string:
#     if permco_list_string.index(i) == 0:
#         # print (permco_list_string.index(i))
#         temp = '('+'\'' + i + '\'' + ','
#     elif permco_list_string.index(i) == len(permco_list_string) - 1:
#         temp = '\'' + i + '\'' +')'
#     else :
#         temp = '\'' + i + '\'' + ','

#     permco_result += temp
# print (permco_result)

In [14]:
permco_tuple

('2751.0',
 '4215.0',
 '23150.0',
 '23407.0',
 '30433.0',
 '31600.0',
 '34957.0',
 '35013.0',
 '37493.0',
 '39147.0',
 '44072.0',
 '45874.0',
 '46699.0')

In [15]:
permco_list = {'permco': permco_tuple}

In [16]:
permco_list

{'permco': ('2751.0',
  '4215.0',
  '23150.0',
  '23407.0',
  '30433.0',
  '31600.0',
  '34957.0',
  '35013.0',
  '37493.0',
  '39147.0',
  '44072.0',
  '45874.0',
  '46699.0')}

In [17]:
crsp_db.raw_sql('select permco, permno, ticker FROM crsp.stocknames WHERE permco in %(permco)s', params=permco_list)

       permco   permno ticker
0     37493.0  11814.0   AXUT
1     37493.0  11969.0   AXHE
2     37493.0  11972.0   AXTE
3     37493.0  11979.0   AXMT
4     37493.0  11980.0   AXIT
...       ...      ...    ...
1278  37493.0  93377.0   EIDO
1279  37493.0  93378.0   EIRL
1280  37493.0  93379.0   EPOL
1281  39147.0  93385.0   IBND
1282  39147.0  93386.0   BABS

[1283 rows x 3 columns]

In [18]:
crsp_db.raw_sql('select permco, min(date), max(date) from crspm.dsf where permco in %(permco)s group by permco order by 2 asc', params=permco_list, date_cols=['date'], index_col=['permco'])

                min         max
permco
23150.0  1946-01-03  1988-11-01
23407.0  1957-11-18  1962-09-27
2751.0   1962-07-02  1979-01-22
4215.0   1972-12-14  1987-07-01
46699.0  1993-01-29  2020-08-31
30433.0  1994-06-16  1997-05-05
31600.0  1996-03-18  2020-08-31
34957.0  1998-12-22  2020-08-31
35013.0  1999-03-10  2007-04-11
37493.0  2000-05-19  2020-08-31
39147.0  2000-09-29  2020-08-31
44072.0  2003-05-01  2020-08-31
45874.0  2004-11-18  2020-08-31

In [19]:
crsp_db.raw_sql('select a.permco, a.min_date, a.max_date, b.ticker from (select permco, min(date) as min_date, max(date) as max_date from crspm.dsf where permco in %(permco)s group by permco order by 2 asc) a, crsp.stocknames b where a.permco = b.permco', params=permco_list, date_cols=['date'], index_col=['permco'])

           min_date    max_date ticker
permco
37493.0  2000-05-19  2020-08-31   AXUT
37493.0  2000-05-19  2020-08-31   AXHE
37493.0  2000-05-19  2020-08-31   AXTE
37493.0  2000-05-19  2020-08-31   AXMT
37493.0  2000-05-19  2020-08-31   AXIT
...             ...         ...    ...
37493.0  2000-05-19  2020-08-31   EIDO
37493.0  2000-05-19  2020-08-31   EIRL
37493.0  2000-05-19  2020-08-31   EPOL
39147.0  2000-09-29  2020-08-31   IBND
39147.0  2000-09-29  2020-08-31   BABS

[1283 rows x 3 columns]

In [20]:
permno_df = crsp_db.raw_sql('select distinct permno FROM crsp.stocknames WHERE ticker in %(tickers)s', params=ticker_list)
permno_list_string = permno_df.permno.astype(str).values.tolist()
permno_tuple = tuple(permno_list_string)
permno_list = {'permno': permno_tuple}

In [21]:
permno_list

{'permno': ('12717.0',
  '12999.0',
  '14907.0',
  '22568.0',
  '26411.0',
  '33910.0',
  '60716.0',
  '80694.0',
  '83213.0',
  '83216.0',
  '84398.0',
  '86455.0',
  '86458.0',
  '86755.0',
  '88222.0',
  '89467.0',
  '89468.0',
  '89730.0',
  '90383.0',
  '90448.0',
  '91933.0',
  '91953.0',
  '92922.0')}

In [22]:
crsp_db.raw_sql('select b.ticker, a.permno, a.date, a.bidlo, a.askhi, a.prc, a.bid, a.vol, a.ret from crspm.dsf a, crsp.stocknames b where a.permno in %(permno)s and a.permno = b.permno', params=permno_list,date_cols=['date'], index_col=['permno'])

,ticker,date,bidlo,askhi,prc,bid,vol,ret
permno,,,,,,,,
12717.0,XTN,2011-01-27,51.049999,51.580002,51.500000,51.500000,22100.0,NaN
12717.0,XTN,2011-01-28,49.639999,49.669998,-49.654999,49.639999,0.0,-0.035825
12717.0,XTN,2011-01-31,49.880001,50.040001,50.040001,49.790001,200.0,0.007754
12717.0,XTN,2011-02-01,50.400002,50.680000,50.680000,50.599998,400.0,0.012790
12717.0,XTN,2011-02-02,49.700001,50.070000,49.700001,49.599998,300.0,-0.019337
...,...,...,...,...,...,...,...,...
92922.0,JNK,2020-08-25,105.525002,105.940002,105.879997,105.879997,6261737.0,0.001703
92922.0,JNK,2020-08-26,105.809998,106.019997,105.860001,105.849998,5248026.0,-0.000189
92922.0,JNK,2020-08-27,105.510002,106.035004,105.720001,105.720001,6448001.0,-0.001322
92922.0,JNK,2020-08-28,105.779999,106.000000,105.790001,105.800003,4837438.0,0.000662
92922.0,JNK,2020-08-31,105.629997,105.945000,105.750000,105.739998,4966857.0,-0.000378

In [ ]:
def pullCrsp(listPERMNO, username)
    crsp_db = wrds.Connection(wrds_username=username)